{% extends './layout_cyk.html' %}
{% block title %} {{ titulo }} {% endblock %}
{% block body %}
<form method="post" action="{{ url_for('productosActualizar', id=producto[0]) }}" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <header>
        <div class="logo">ROLKAR</div>
        <nav class="nav-bar">
            <select id="product-menu">
                <option value="usuario">Producto</option>
            </select>
            <button>Proveedores</button>
            <button>Clientes</button>
            <button>Usuario</button>
            <button>Reportes</button>
        </nav>
        <div class="user-info">
            <span id="user-dropdown" class="dropdown">Admin@Uri</span>
            <div class="user-icon"></div>
            <div id="dropdown-menu" class="dropdown-content">
                <a href="#" id="logout">Cerrar sesión</a>
                <a href="#" id="help">Ayuda</a>
            </div>
        </div>
    </header>
    <main>
        <h1>Editar Producto</h1>
        <div class="form-container">
            
            <label for="nombre">Nombre Producto</label>
            <input type="text" id="nombre" placeholder="Nombre" name="nombre" value="{{ producto[1] }}">
            
            <label for="marca">Marca del Producto</label>
            <input type="text" id="marca" placeholder="Marca" name="marca" value="{{ producto[2] }}">

            <label for="precio">Precio del Producto</label>
            <input type="number" id="precio" placeholder="Precio" name="precio" value="{{ producto[3] }}">

            <label for="fecha_caducidad">Fecha de caducidad</label>
            <input type="date" id="fecha_caducidad" placeholder="Fecha caducidad" name="fecha_caducidad" value="{{ producto[4] }}">

            <label for="categoria">Categoria asignada</label>
   <select class="form-select" aria-label="Default select example" name="id_categoria">
     <option selected>--Selecciona una categoria--</option>
       {% if categorias %}
       {% for categoria in categorias %}
       <option value="{{categoria.0}}">{{categoria.1}}</option>
       {% endfor %}
       {% else %}
       <option>No hay nada</option>
       {% endif %}
   </select>

<label for="categoria">Porveedor asignado</label>
<select class="form-select" aria-label="Default select example" name="id_proveedor">
  <option selected>--Selecciona un proveedor--</option>
    {% if proveedores %}
    {% for proveedor in proveedores %}
    <option value="{{proveedor.0}}">{{proveedor.1}}</option>
    {% endfor %}
    {% else %}
    <option>No hay nada</option>
    {% endif %}
   </select>
            
            <center>
                <button id="add-product" type="submit">Guardar</button>
                <a class="btn btn-outline-danger d-inline-flex align-items-center" id="add-other" href="{{url_for('dashboardProductos')}}">
                    Cancelar
                </a>
            </center>
        </div>
    </main>
    <script src="scripts.js"></script>
{% endblock %}
