{% extends './layout_admin.html' %}
{% block title %} Inicio chido {% endblock %}
{% block body %}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ proveedor[1] }} {{ proveedor[2] }} {{ proveedor[3] }} {{ proveedor[4] }} {{ proveedor[5] }} {{ proveedor[6] }} {{ proveedor[7] }} {{ proveedor[8] }} </h5>
                <p class="card-text"><small class="text-muted">Última edición: {{ proveedor[1] }}</small></p>
                <p class="card-text"><small class="text-muted">Fecha de creación: {{ proveedor[2] }}</small></p>
            </div>
        </div>
    </div>
  </div>

  <a href="{{ url_for('proveedoresEditar', id=proveedor[0]) }}" class="btn btn-primary">Editar</a>
  <a href="{{ url_for('dashboardProveedores') }}" class="btn btn-danger">Atras</a>
{% endblock %}